<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ll.fsc_demo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parameterfile.ParameterFileListActivity"
            android:label="@string/title_parameterfile_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ll.fsc_demo.MainActivity" />
        </activity>
        <activity
            android:name=".parameterfile.ParameterFileDetailActivity"
            android:label="@string/title_parameterfile_detail"
            android:parentActivityName=".parameterfile.ParameterFileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".parameterfile.ParameterFileListActivity" />
        </activity>
        <provider
            android:name=".database.FsContentProvider"
            android:authorities="com.example.ll.fsc_demo.database" >
        </provider>
    </application>

</manifest>
